#############################
#        Android            #
#############################
*.iml
.gradle
/local.properties
.idea
.DS_Store
build
/captures
.externalNativeBuild
.cxx
*.hprof

#############################
#          IOS              #
#############################
# https://gist.github.com/SteveRohrlack/89c4dbc516dfaeb7a86ffbf0094479a3
# Cocoapods
/iosApp/Pods
/iosApp/.DS_Store

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata

# Local editor's lock files
*.lock
*.resolved

# Build generated
build/
DerivedData/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

# Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Obj-C/Swift specific
*.hmap
*.ipa
